In [1]:
# Importing all the necessary libraries

import pandas as pd
import numpy as np
import nltk
from wordcloud import WordCloud
from wordcloud import ImageColorGenerator
from wordcloud import STOPWORDS
import matplotlib.pyplot as plt

In [2]:
col_names = ['Ratings','Reviews']
df_rev = pd.read_csv('review_around_the world.csv', names = col_names)
print(df_rev.shape)

(154, 2)

In [3]:
df_rev['Ratings'] = df_rev['Ratings'].astype(str)
df_rev['Ratings'] = df_rev['Ratings'].replace({'5':'extremely positive', '4':'positive', '3':'neutral', '2':'negative', '1':'extremely negative'})
df_rev.head()

              Ratings                                            Reviews
0  extremely positive            Very happy with quality of this edition
1  extremely positive  It's a great story apparently so great that no...
2            positive  Keep in mind this book was written a very long...
3            positive  The movie/series was good. The book it was bas...
4            positive  These editions are just beautiful. Lots of ill...

In [4]:
df_rev.loc[((df_rev["Ratings"]=="extremely negative")),'Ratings'] = "negative"
df_rev.loc[((df_rev["Ratings"]=="extremely positive")),'Ratings'] = "positive"
df_rev.head()

    Ratings                                            Reviews
0  positive            Very happy with quality of this edition
1  positive  It's a great story apparently so great that no...
2  positive  Keep in mind this book was written a very long...
3  positive  The movie/series was good. The book it was bas...
4  positive  These editions are just beautiful. Lots of ill...

In [5]:
df_rev["Ratings"].value_counts(normalize=True)

negative    0.376623
positive    0.331169
neutral     0.292208
Name: Ratings, dtype: float64